/*
Plugin Name: Affi Page
Author: Joonatan Kuosa
Description: Page template for an Affiliate site
Version: 1.0
*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.page-xl {
  max-width: 1200px;
}

.booker-modal {
  @apply fixed inset-0;
  background: rgba(0,0,0,0.2);
  z-index: 99999;
  pointer-events: none;
  text-align:center;
  @apply items-center hidden;
}
.booker-modal:target {
  pointer-events: auto;
  @apply flex;
}
.booker-modal > div {
  overflow-y: auto;
  width: auto;
  max-height: 95%;
  max-width: 500px;
  position: relative;
  margin: 0% auto;
  background: #fff;
}

.darken-on-hover:focus,
.darken-on-hover:hover {
  filter: brightness(90%);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 1px 4px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 640px) {
  .multiplier:before {
    content: "@";
  }
  .info-section:after {
    content: ' | ';
  }
}

.no-break {
  word-break: keep-all;
}
.whitespace-nowrap {
  white-space: nowrap;
}

/* Every odd element in the table
 * seems to work for both vihje and booker list
 * where vihje has two extra divs around the first element
 */
div.booker-table-bg:nth-child(2n+1) {
  @apply bg-gray-200;
}

.btn-cta {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 2px -2px 4px 2px rgba(66, 66, 66, 0.2);
  @apply rounded-sm m-1;
  @apply border-solid border-2;
  border-color: hsl(31, 100%, 40%);
}

/* accessible text colors
 * secondary + white
 * cta + black
 * primary + white (#bbb, #f2f2f2, #fff)
 *
 * NOT accessible
 * cta + white
 * secondary + black
 * primary + black
 *
 * #primary: a114e7d
 */

.entry-header {
  &> h1 {
    @apply text-white;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.8em;
  }

  @apply bg-secondary;
  &> p.mh-meta.entry-meta {
    @apply text-white block text-right border-none;
    & a {
      @apply text-white;
    }
    margin-bottom: 1.25rem;
  }
}

.entry-content {
  padding: 1em;
  & h2 {
    @apply mb-5 mt-2 font-bold;
    font-size: 1.5rem;
  }
  & h2 {
    @apply mb-5 mt-2 font-bold;
    font-size: 1.25rem;
  }
  & p {
    @apply mb-5;
  }
}
